footer
    background #4D4D4D
    padding $rem(40) 0 $rem(65)
    .center
        display flex
        justify-content space-between
        align-items flex-start
        p
            margin 0
            asap 12
            color #fff
            max-width $rem(355)
            + p
                margin-top 1em
        img
            max-width 100%
    +below(940px)
        padding $rem(30) 0
        .center
            flex-direction column
            div + div
                margin-top $rem(25)
