desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azul = #0078B0
$azulEscuro = #000066

@import url('https://fonts.googleapis.com/css?family=Asap:400,700&display=swap')

asap($size, $weight = normal)
    font-size $rem($size)
    font-family 'Asap', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700
