.busca
    background $azul
    padding 20px 0
    form
        display flex
        align-items center
        justify-content center
        div
            label
                display flex
                align-items center
                asap 14
                color #fff
                cursor pointer
                input
                    margin-right 5px
                span
                    text-transform uppercase
                + label
                    margin-top 5px
        select
        input[type=text]
            flex 1
            width 100%
            max-width $rem(350)
            margin 0 16px
            height 40px
            padding 0 20px
            asap 16
            color $azulEscuro
            border-radius 20px
            background #fff
            border 0
            outline 0
        input[type=text]
            margin-left 0
            +placeholder()
                color $azulEscuro
        button
            border 0
            background $img('lupa.png') no-repeat left top transparent
            height 36px
            asap 16
            color #99FFFF
            text-transform uppercase
            padding-left 48px
            text-align left
            cursor pointer
            outline 0
            &:hover
                background-position left bottom
                color #fff
            +between($mobile, 840px)
                width 36px
                padding 0
                font-size 0
        +mobile()
            flex-wrap wrap
            justify-content flex-start
            div
                width 100%
                margin-bottom 10px
                display flex
                align-items center
                label + label
                    margin 0
                    margin-left 20px
            select
            input[type=text]
                flex auto
                width 100%
                max-width 100%
                margin 0 0 10px
            button br
                display none
