.erro-login
    position relative
    z-index 2
    width 100%
    padding $rem(25) 0
    asap 14
    color #fff
    background #c23535
    box-shadow 0 1px 5px rgba(#000, .2)

.main
    padding $rem(40) 0 $rem(30)
    overflow hidden
    background $img('bg.png') repeat-x bottom center
    &.main-interna
        background-position top -200px center
    +below($tablet)
        padding $rem(25) 0
    &--header
        display flex
        justify-content space-between
        align-items center
        img
            max-width 100%
            +below($tablet)
                width 100%
                max-width 500px
        .links
            width $rem(360)
            a
                position relative
                display block
                align-items center
                padding 8px 22px
                asap 14
                color #fff
                transition padding .2s
                &:nth-child(1)
                    background $azulEscuro
                &:nth-child(2)
                    background $azul
                &:hover
                    padding-left 27px
                span.logout
                    font-weight bold
                    display inline-block
                    margin-left 10px
                    padding-left 20px
                    position relative
                    &:before
                        content ''
                        position absolute
                        left 0
                        top 50%
                        transform translateY(-50%)
                        width 15px
                        height 15px
                        background $img('ico-sair.png') no-repeat center #FF0000
                        border-radius 100%
                &:after
                    content ''
                    position absolute
                    height 100%
                    width 9999px
                    background inherit
                    top 0
                    left 100%
        +below(1010px)
            flex-direction column
            align-items flex-start
            .links
                margin-top $rem(20)
    &--content
        margin-top $rem(45)
        display grid
        grid-template-columns $rem(460) 1fr
        grid-gap $rem(40)
        .left
            display flex
            flex-direction column
            justify-content space-between
            h2
                asap 16
                color $azulEscuro
                margin 0
                line-height 1.4
            .login
                background #fff
                padding $rem(35) $rem(30)
                width 100%
                max-width $rem(460)
                +below($tablet)
                    box-shadow 0 1px 8px rgba(#000, .15)
                > p
                    text-align center
                    asap 10
                    color $azulEscuro
                    text-transform uppercase
                    margin 0
                form
                    margin-top $rem(30)
                    label
                        display flex
                        align-items center
                        + label
                            margin-top 5px
                        span
                            width 90px
                            asap 14
                            color $azulEscuro
                            text-align right
                            margin-right 17px
                        input
                            flex 1
                            width 100%
                            min-width 0
                            background #F2F2F2
                            height 30px
                            border 0
                            outline 0
                            padding 0 8px
                            asap 14
                            color #333
                        +mobile()
                            flex-direction column
                            span
                                width 100%
                                text-align left
                                margin 0 0 5px
                            input
                                flex auto
                    div
                        display flex
                        align-items center
                        justify-content space-between
                        margin-top 10px
                        p
                            asap 10
                            font-size 10px
                            color $azul
                            font-style italic
                            margin 0
                            margin-right 20px
                        input[type=submit]
                            asap 20 bold
                            color $azul
                            border 1px solid $azul
                            background transparent
                            transition .2s
                            cursor pointer
                            padding 10px 25px
                            outline 0
                            &:hover
                                background $azul
                                color #fff
        .right
            display flex
            background #EF68B6
            div
                flex 1
                display flex
                flex-direction column
                align-items center
                justify-content center
                padding 0 $rem(40)
                text-align center
                color $azulEscuro
                h3
                    asap 24
                    line-height 1.6
                    margin 0
                    max-width 270px
                h4
                    asap 14
                    text-transform uppercase
                    margin-top $rem(35)
                    padding-top $rem(35)
                    position relative
                    &:before
                        content ''
                        position absolute
                        top 0
                        left 0
                        width 100%
                        height 1px
                        background rgba($azulEscuro, .75)
        +below(1200px)
            grid-template-columns 1fr
            grid-gap $rem(30)
            .left
                align-items center
                h2
                    margin-bottom 1.5em
                    text-align center
        +mobile()
            .right
                flex-direction column
                max-width 350px
                margin 0 auto
                img
                    max-width 100%
                div
                    padding $rem(40)
.chamadas
    margin $rem(50) 0 $rem(100)
    .center
        display flex
        justify-content space-between
        max-width $rem(760)
        div
            text-align center
            width 195px
            img
                display block
                margin 0 auto $rem(20)
            span
                asap 24 bold
                line-height 1.2
                color $azulEscuro
                text-transform uppercase
    +mobile()
        margin $rem(40) 0 $rem(70)
        .center
            flex-direction column
            align-items center
            div
                span
                    font-size 20px
                + div
                    margin-top $rem(50)
