.vagas
    margin $rem(35) 0 $rem(65)
    h2
        asap 16
        margin 0
        color $azul
        text-transform uppercase
        text-align center
    .handle-paginate
        display flex
        align-items center
        justify-content center
        width 220px
        height 40px
        margin $rem(30) auto 0
        border 1px solid $azulEscuro
        asap 16
        color $azulEscuro
        text-transform uppercase
        background transparent
        cursor pointer
        transition .2s
        outline 0
        &:hover
        &.loading
            background rgba($azul, .15)
        &.loading
            opacity .7
            cursor wait
        span
            width 13px
            height 9px
            background $img('seta-selecao.png') no-repeat center
            margin-left 8px

.vagas-container
    margin-top $rem(30)
    .vaga
        .vaga-cursos
            padding $rem(20) $rem(40)
            background #CFE6E6
            color $azul
            border-radius 10px
            span
                asap 9
                font-size 9px
                display block
            p
                margin 3px 0 0
                font-size 0
                span
                    display inline-block
                    font-size 11px
                    text-transform uppercase
                    + span:before
                        content '|'
                        margin 0 5px
        .vaga-conteudo
            padding $rem(40)
            background #E8E8E8
            border-radius 10px
            h3
                margin 0
                asap 18 bold
                color $azulEscuro
                text-transform uppercase
            h4
                margin 4px 0 0
                asap 14
                font-style italic
                color $azulEscuro
            .descricao
                asap 14
                color #333
                margin-top 1.2em
                * + *
                    margin-top .8em
                p
                    margin 0
                ul
                    padding 0
                    list-style none
                    li
                        padding-left .8em
                        position relative
                        &:before
                            content '\00b7'
                            position absolute
                            left 0
                        + li
                            margin-top .5em
            .info
                div
                    display flex
                    align-items center
                    +below($tablet)
                        flex-direction column
                        align-items flex-start
                    + div
                        margin-top 5px
                        +below($tablet)
                            margin-top 12px
                    &:first-child
                        margin-top 25px
                    span
                        &:nth-child(1)
                            height 26px
                            line-height 26px
                            width 110px
                            flex-shrink 0
                            padding-left 32px
                            asap 12
                            font-size 12px
                            color $azul
                            text-transform uppercase
                            &.local
                                background $img('ico-local.png') no-repeat left center
                            &.horario
                                background $img('ico-horario.png') no-repeat left center
                            &.salario
                                background $img('ico-salario.png') no-repeat left center
                            &.beneficios
                                background $img('ico-beneficios.png') no-repeat left center
                        &:nth-child(2)
                            asap 16
                            color #333
                            +below($tablet)
                                padding-left 32px
            .contatos
                border-top 1px solid $azul
                margin-top 20px
                padding-top 20px
                display flex
                p
                    width 135px
                    flex-shrink 0
                    margin 0
                    margin-right 30px
                    line-height 1.2
                    text-transform uppercase
                    asap 12
                    color $azulEscuro
                .botoes
                    flex 1
                .handle-contato
                    display block
                    border 1px solid $azulEscuro
                    border-radius 3px
                    padding 15px
                    padding-left 60px
                    asap 12
                    font-size 12px
                    color $azulEscuro
                    background-position 12px center
                    background-repeat no-repeat
                    transition none
                    span
                        display block
                        font-weight bold
                        margin-top 3px
                    + .handle-contato
                        margin-top 3px
                    &.loading
                        cursor wait
                    &.loaded
                        background-color $azul
                        color #fff
                    &.contato-telefone
                        background-image $img('ico-telefone.png')
                        &.loaded
                            cursor default
                    &.contato-email
                        background-image $img('ico-email.png')
                    &.contato-site
                        background-image $img('ico-website.png')
                +below($tablet)
                    flex-direction column
                    p
                        width 100%
                        margin-bottom 10px
